[submodule "submodules/inih"]
	path = submodules/inih
	url = git@github.com:matsune/inih.git
[submodule "submodules/googletest"]
	path = submodules/googletest
	url = git@github.com:google/googletest.git
